# matrix v9
on: [push,pull_request]
jobs:
  ci:
    name: Build (${{ matrix.os }} ${{ matrix.cwd }} ${{ matrix.target }})

    runs-on: ${{matrix.os}}


    strategy:
      matrix:
        target: [ "native" ]
        cwd: [".","test_executors_proc"]
        os: [ ubuntu-latest ]

        include:
          - os: ubuntu-latest
            target: "wasm32"
            cwd: "."
          - os: ubuntu-latest
            target: "wasm32"
            cwd: "test_executors_proc"

    steps:
      - uses: actions/checkout@v4

      - name: Cache target
        uses: actions/cache@v4
        with:
          key: target-${{ github.event.repository.name }}-${{ matrix.os }}-${{ matrix.target || 'host' }}-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
          path: |
            target
          restore-keys: |
            target-${{ github.event.repository.name }}-${{ matrix.os }}-${{ matrix.target || 'host' }}-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
            target-${{ github.event.repository.name }}-${{ matrix.os }}-${{ matrix.target || 'host' }}

      #      - name: Github update Rust
      #        if: runner.os == 'Linux' && !(env.GITEA_ACTIONS == 'true')      #        run: |      #          # at the moment, GitHub is too far behind mainline rust (v1.89.0-v1.91.0-nightly)      #          rustup update
      - name: Install wasm target
        if: matrix.target == 'wasm32' && !(env.GITEA_ACTIONS == 'true')
        run: rustup +nightly target add wasm32-unknown-unknown

      - name: Install wasm-bindgen-cli
        if: matrix.target == 'wasm32' && !(env.GITEA_ACTIONS == 'true')
        run: cargo +nightly install wasm-bindgen-cli

      - name: Install nightly components
        if: matrix.target == 'wasm32' && !(env.GITEA_ACTIONS == 'true')
        run: |
          rustup +nightly component add rustfmt clippy
          rustup +nightly component add rust-src

      - name: rustfmt
        run: |
          if [ "${{ matrix.cwd }}" = "." ]; then
            scripts/fmt
          else
            cd ${{ matrix.cwd }} && ../scripts/fmt
          fi

      - name: cargo check
        run: |
          # we need ssh-add here to load local deps
          if [[ "$GITEA_ACTIONS" == "true" ]]; then
            eval `ssh-agent`
            ssh-add
          fi
          if [ "${{ matrix.cwd }}" = "." ]; then
            scripts/${{ matrix.target }}/check
          else
            cd ${{ matrix.cwd }} && ../scripts/${{ matrix.target }}/check
          fi

      - name: clippy
        run: |
          if [ "${{ matrix.cwd }}" = "." ]; then
            scripts/${{ matrix.target }}/clippy
          else
            cd ${{ matrix.cwd }} && ../scripts/${{ matrix.target }}/clippy
          fi

      - name: tests
        run: |
          if [ "${{ matrix.cwd }}" = "." ]; then
            scripts/${{ matrix.target }}/tests
          else
            cd ${{ matrix.cwd }} && ../scripts/${{ matrix.target }}/tests
          fi

      - name: docs
        run: |
          if [ "${{ matrix.cwd }}" = "." ]; then
            scripts/${{ matrix.target }}/docs
          else
            cd ${{ matrix.cwd }} && ../scripts/${{ matrix.target }}/docs
          fi
