# matrix v9
on: [push,pull_request]
jobs:
  ci:
    name: Build (${{ matrix.os }} ${{ matrix.cwd }} ${{ matrix.target }})

    runs-on: ${{matrix.os}}


    strategy:
      matrix:
        target: [ "native" ]
        cwd: [".","test_executors_proc"]
        os: [ ubuntu-latest ]

        include:
          - os: ubuntu-latest
            target: "wasm32"
            cwd: "."
          - os: ubuntu-latest
            target: "wasm32"
            cwd: "test_executors_proc"

    steps:
      - uses: actions/checkout@v4

      - name: Cache target
        uses: actions/cache@v4
        with:
          key: target-${{ github.event.repository.name }}-${{ matrix.os }}-${{ matrix.target || 'host' }}-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
          path: |
            target
          restore-keys: |
            target-${{ github.event.repository.name }}-${{ matrix.os }}-${{ matrix.target || 'host' }}-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
            target-${{ github.event.repository.name }}-${{ matrix.os }}-${{ matrix.target || 'host' }}

      #      - name: Github update Rust
      #        if: runner.os == 'Linux' && !(env.GITEA_ACTIONS == 'true')      #        run: |      #          # at the moment, GitHub is too far behind mainline rust (v1.89.0-v1.91.0-nightly)      #          rustup update
      - name: Install wasm target
        if: matrix.target == 'wasm32' && !(env.GITEA_ACTIONS == 'true')
        run: rustup +nightly target add wasm32-unknown-unknown

      - name: Install wasm-bindgen-cli
        if: matrix.target == 'wasm32' && !(env.GITEA_ACTIONS == 'true')
        run: cargo +nightly install wasm-bindgen-cli

      - name: Install nightly components
        if: matrix.target == 'wasm32' && !(env.GITEA_ACTIONS == 'true')
        run: |
          rustup +nightly component add rustfmt clippy
          rustup +nightly component add rust-src

      - name: rustfmt
        run: |
          if [ "${{ matrix.target }}" = "wasm32" ]; then
            cd ${{ matrix.cwd }} && cargo +nightly fmt --check
          else
            cd ${{ matrix.cwd }} && cargo fmt --check
          fi
        env:
          RUSTFLAGS: "-Dwarnings"

      - name: cargo check
        run: |
          if [ "${{ matrix.target }}" = "wasm32" ]; then
            cd ${{ matrix.cwd }} && cargo +nightly check --target wasm32-unknown-unknown
          else
            cd ${{ matrix.cwd }} && cargo check
          fi
        env:
          RUSTFLAGS: "-Dwarnings"
          RUSTDOCFLAGS: "-Dwarnings"

      - name: clippy
        run: |
          if [ "${{ matrix.target }}" = "wasm32" ]; then
            cd ${{ matrix.cwd }} && cargo +nightly clippy --no-deps --target wasm32-unknown-unknown
          else
            cd ${{ matrix.cwd }} && cargo clippy --no-deps
          fi
        env:
          RUSTFLAGS: "-Dwarnings"

      - name: tests
        run: |
          if [ "${{ matrix.target }}" = "wasm32" ]; then
            cd ${{ matrix.cwd }} && cargo +nightly test --target wasm32-unknown-unknown
          else
            cd ${{ matrix.cwd }} && cargo test
          fi
        env:
          RUSTFLAGS: "-Dwarnings"

      - name: docs
        run: |
          if [ "${{ matrix.target }}" = "wasm32" ]; then
            cd ${{ matrix.cwd }} && cargo +nightly doc --target wasm32-unknown-unknown
          else
            cd ${{ matrix.cwd }} && cargo doc
          fi
        env:
          RUSTFLAGS: "-Dwarnings"
          RUSTDOCFLAGS: "-Dwarnings"
